*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

.navbar-container {
    height: 80px;
    width: 100%;
    background-color:darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo{
    font-size: 30px;
    font-weight: 900;
}

.nav-links > a{
    margin: 50px 10px;
 font-weight: 600;
 padding: 5px 10px;
 border-radius:4px ;
 transform: 0.2s;
}
.nav-links a:hover{
    background-color: white;
    color: blue;
}

.container {
  background: #fff;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 6px;
}

/* Header */
.header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 8px;
}

/* Form Layout */
.row {
  margin-bottom: 20px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.group span {
  color: red;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #1e90ff;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  background: #0a8cff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #006fd6;
}

/* Responsive */
@media (max-width: 768px) {
  .two-col, .three-col {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }
}